<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/sunny/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/button.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <style type="text/css">
        #retreat_container a.button.black
        {
            color:#d7d7d7
        }
    </style>
</head>

<body>
    <div id="main_header">
        <a href="/"><img src="@Url.Content("~/Content/images/dahlia.jpg")" height="92" style="float:left;" /></a>
        <h1><a href="/">Dahlia</a></h1>
        <ul id="main_navigation">
            <li>
                <a href="/Retreat/Create" class="button small black">New Retreat</a>
            </li>
            <li>
                <a target="_blank" href="/Retreat/GenerateReport" class="button small black">Report on Retreats</a>
            </li>
            <li>
                <form action='/Participant/ReassignSearchResults'>
                    <label for="searchString">Re-assign:</label>
                    <input type='textbox' name='searchString' />
                    <input type='submit' value='Search' class='button small black' />
                </form>
            </li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>
